/* Styling for Navbar */
.top-nav, .mob-nav {
    background-color: #f2f2f2;
    box-shadow: 0 5px 10px #1b1b1b;
    z-index: 100;
}
.top-nav ul .nav-item:first-child, .top-nav ul .nav-item:nth-child(2), .top-nav ul .nav-item:nth-child(3),
.top-nav ul .nav-item:nth-child(5), .top-nav ul .nav-item:nth-child(6), .top-nav ul .nav-item:nth-child(7){
    padding-top: 35px;
}
.top-nav ul .nav-link {
    color: #1b1b1b;
    font-size: .75rem;
    font-weight: 600;
    padding: .5rem;
}
.logo {
    padding: 0;
    margin: 0;
}
.menu{
   position: relative;
    left: -27px;
    bottom: -10px;
}
.bottom-nav {
    border-top: 1px solid #ca2d3280;
    border-bottom: 1px solid #ca2d3280;
    color: #9c9d9f;
    height: 30px;
}
.sub-icon {
    font-size: .5rem;
    color: #000;
    margin-left: 1rem;
    margin-bottom: -.5rem;
}
.sub-icon img {
    height: 1.25rem;
    margin-top: -.25rem;
}
.trend {
    position: absolute;
    background-color: #ca2d32;
    border-top-left-radius: 20px;
    width: 100%;
    height: inherit;
    bottom: 0;
    color: white;
    font-size: .75rem;
    padding-top: .5rem;
    padding-bottom: .375rem;
    left: -15px;
}
.marquee {
    overflow: hidden;
}
.marquee p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    /* Apply animation to this element */
    -moz-animation: scroll-left 15s linear infinite;
    -webkit-animation: scroll-left 15s linear infinite;
    animation: scroll-left 15s linear infinite;
}
.mob-nav .marquee p {
    width: 600px;
    margin: .3rem 0 0 0;
    color: #ca2d32;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
    0%   {
        -moz-transform: translateX(100%); /* Browser bug fix */
        -webkit-transform: translateX(100%); /* Browser bug fix */
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%); /* Browser bug fix */
        -webkit-transform: translateX(-100%); /* Browser bug fix */
        transform: translateX(-100%);
    }
}
.bottom-nav .btn {
    font-size: .75rem;
    line-height: 1;
    padding: .15rem .75rem;
}
.search-container {
    position: absolute;
    display: inline-block;
    height: 28px;
    width: 45px;
    z-index: 1;
}
.button {
    display: inline-block;
    background-color: #c0c0c0;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.button:hover {
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    background-color: white;
    color: black;
}
.mglass {
    display: inline-block;
    pointer-events: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}
.searchbutton {
    position: absolute;
    font-size: 1rem;
    width: 100%;
}
.search:focus + .searchbutton {
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    background-color: white;
    color: black;
}
.search {
    position: absolute;
    left: 45px;
    background-color: white;
    outline: none;
    border: none;
    padding: 0;
    width: 0;
    height: 100%;
    z-index: 10;
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
}
.search:focus {
    width: 991px;
    padding: 0 16px 0 0;
}

/*Styling for Clock*/
.clockarea {
    height: 80px;
    width: 80px;
    position: relative;
    background: url(../images/analog.png) no-repeat center;
    background-size: cover;
}
.clock {
    height: 100%;
    width: 100%;
}
.clock:after, .hourhand, .minutehand, .secondhand {
    background: #9c9d9f;
}
.clock:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    margin: -3px 0 0 -3px;
    border-radius: 3px;
    content: "";
    display: block;
}
.hourhand {
    width: 0;
    height: 0;
    position: absolute;
    top: 50% ;
    left: 50% ;
    margin: -2px 0 -2px -25% ;
    padding: 2px 0 2px 25% ;
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    border-radius: 2px 0 0 2px;
}
.minutehand {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40% -2px 0;
    padding: 40% 2px 0;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    border-radius: 3px 3px 0 0;
}
.secondhand {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40% -1px 0 0;
    padding: 40% 1px 0;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

/*Styling for Mobile Navigation*/
#menu {
    position: fixed;
    top: 25px;
    left: 15px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: opacity .25s ease;
}
#menu.active .top {
    transform: translateY(10px) translateX(0) rotate(45deg);
}
#menu.active .middle {
    opacity: 0;
}
#menu.active .bottom {
    transform: translateY(-5px) translateX(0) rotate(-45deg);
}
#menu span {
    background: silver;
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    transition:  all .35s ease;
    cursor: pointer;
}
#menu span:nth-child(2) {
    top: 8px;
}
#menu span:nth-child(3) {
    top: 16px;
}
.m-logo {
    width: 50%;
    padding: 0;
}
.m-logo img{
    width: 100px;
}
.mob-icon-nav {
    position: fixed;
    top: 15px;
    right: 15px;
}
.mob-icon-nav .sub-icon {
    height: 1rem;
    margin-left: 0;
    margin-bottom: .5rem;
}
.mob-icon-nav .sub-icon:first-child {
    margin-bottom: .75rem;
}
.mob-nav .marquee {
    font-size: .75rem;
    padding: 0;
}
.mob-trend {
    position: absolute;
    right: 0;
    width: 100px;
    background-color: #f2f2f2;
    padding-top: .25rem;
}
.overlay {
    background: #f2f2f2;
    position: fixed;
    top: 97px;
    left: 0;
    /*max-height: 0;*/
    transform: scaleY(0);
    transform-origin: top;
    height: auto;
    width: 100%;
    overflow: hidden;
    z-index: 99;
    transition: transform 1s ease;
}
.overlay.open {
    /*max-height: 400px;*/
    transform: scaleY(1);
}
.overlay .nav-link {
    color: #ca2d32bf !important;
    padding: 1rem;
    font-size: 1.25rem;
}

/*Styling for Footer*/
.footer-top {
    padding: 7.5% 5% 3.75% !important;
    background: url(../images/footer-bg.jpg) no-repeat;
    background-size: cover;
    color: black;
}
.footer-top ul {
    list-style-type: none;
    padding: 0;
    color: #5f656b;
}
.footer-top input, .footer-top select {
    background: transparent;
    border-top: none;
    border-left:none;
    border-right: none;
    border-radius: 0;
    color: #868e96;
}
.form-control:focus {
    border-top: none;
    border-left:none;
    border-right: none;
    outline: 0;
    box-shadow: none;
}
.footer-top .fa {
    margin-right: .5rem;
    color: #868e96;
    font-size: 1.25rem;
}
.footer-bottom {
    background-color: #cc7174;
    min-height: 30px;
    font-size: 0.75rem;
}
.footer-bottom .col-12 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

/*Styling for Main Body*/
.main {
    margin-top: 126px;
}

@media (max-width: 992px) {
    .main {
        margin-top: 96px;
    }
}

@media (max-width: 768px) {
    .footer-top .col-md-3 {
        margin-top: 1rem;
    }
}