.pOff{
padding:0px;
}
.align{
position: relative;
left: -6%;
}
.shelf-padding{
padding: 8px 0 10px 0;
}

.trend{
font-size: 10px;
}
.shelf-block{
position:relative;
top:8px;
}
.shelf-heading{
font-size:11px;
margin: 0 0 10px 0px
}

.xplore{
padding: 12px 21px 12px 21px;
margin-top: 1%
}

.app-height{
height: 212px;
width: 100%;
}
.app-label-position{
padding: 101px 0px
}

.relative{
position: relative;
}

#help-bg{
background: url(../images/help-bg.jpg) no-repeat;
background-size: cover;
}

#help-text{
padding: 30px 0 30px 0;
}

.flat-cardA, .flat-cardA1, .flat-cardA2{
background: none;
border-top: transparent;
border-bottom: transparent;
border-color: white;
border-radius: 0;
padding: 10px 0 30px 0;
color:white;
transition: ease-in-out 1s;
}

.flat-cardA:hover, .flat-cardA1:hover, .flat-cardA2:hover {
background: white;
color: rgba(176,177,179) !important;
border-radius: 20px;
box-shadow: #000000 2px 5px 15px;
}

.overlay-a{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 10;
 background-color: rgba(176,177,179,0.8)/*dim the background*/
}

.card-center-text{
font-size: 12px;
padding: 0px 5px 0px 5px;
}

#card-center-textA, #card-center-textA1, #card-center-textA2, #xplore-buttonA, #xplore-buttonA1, #flat-buttonB, #flat-buttonB1, #flat-buttonB2{
 display:none;
}

#flat-buttonA, #flat-buttonA1, #flat-buttonA2, #xplore-buttonA, #xplore-buttonA1 {
    background-color: transparent !important;
    border-color: white;
    color: white;
    border-radius: 20px;
}

#flat-buttonB, #flat-buttonB1, #flat-buttonB2, .xplore {
    background-color: transparent !important;
    border-color: #b0b1b3;
    color: #b0b1b3;
    border-radius: 20px;

}

#e-benefits{
background: url(../images/e-benefits.jpg) no-repeat;
background-size: cover;

}

#multifund{
background: url(../images/multifund.jpg) no-repeat;
background-size: cover;
}

#e-benefits, #multifund, .read-more {
cursor: pointer;
}

.overlay-app-text, .overlay-app-textA1{
font-weight: 600;
color:black
}

.app-head-text{
 margin: 6% 0 0 0;
 font-size: 45px;
 font-weight: 100;
}

.app-head-subtext{
font-size: 14px;
}

.app-head-text, .app-head-subtext{
color: grey;
}

.xplore{
text-align: left;
}

.cat{
padding:12px 0 12px;
color:black
}



@media(max-width:1024px){
.cat{
font-size: 16px;
}
.shelf-padding{
padding:4px 0px 0px 0px;
}
.app-head-text{
font-size: 38px
}
}

@media(max-width:992px){
#help-bg{
background:none;
}
.align{
left: 0%;
}
.xplore{
text-align: center !important;
}
.shelf-heading{
font-size: 17px;
}
figcaption, .shelf-heading {
font-size: 10px;
}
figure{
margin: 0 0 0.2rem;
}
.shelf-heading{
margin: 0px 0px 3px 0px;
}
.xplore{
padding: 12px 13px 12px 13px;
}
.app-head-text{
font-size: 28px;
}
.shelf-column{
padding:0px
}
}
@media(max-width: 768px){
.shelf-padding{
padding: 9px 0 9px 0 ;
}
}
@media(max-width: 736px){
.shelf-padding{
padding: 9px 0 9px 0 ;
}
.shelf-icon{
max-width: 47%
}
}

@media(max-width: 667px){
.shelf-icon{
max-width: 41% !important
}
}

@media(max-width: 568px){
.shelf-heading, figcaption{
font-size:22px;
}
.shelf-block{
top: -3px;
}
}
